

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 100;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
}

h1 .divider {
	margin: 0 8px;
}

h1 .sub-headline {
	color: #888;
	font-weight: 300;
}

/**
 * Main page css
 */
#page_title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Georgia";
  border-bottom: 1px solid black;
  width: 970px;
  padding-bottom: 20px;
}

/****************************** Chloropleth ******************************/
#chloropleth {
	width: 900px;
	height: 700px;
}

#chloropleth-dropdown {
	width: 200px;
	margin-bottom: 10px;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

#chloropleth-tooltip-box {
	background-color: rgba(228, 200, 180, 0.51);
	width: 300px;
	height: 500px;
	overflow: auto;
	font-size: 13px;
	padding: 15px;
}

.chloropleth-tooltip-header {
	margin-top: 15px;
	text-decoration: underline;
	text-align: center;
	font-weight: 400;
}

/****************************** Animation ******************************/
#truck-route-map {
	width: 90%;
	height: 1000px;
}

div.tooltip {
    position: absolute;
    text-align: left;
    width: 175px;
    /*height: 28px;*/
    padding: 5px;
    font: 12px sans-serif;
    /*background: lightsteelblue;*/
    background: #262626;
    color: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

/*TIMELINE*/

p {
    color: white;
    margin: 50px;
}

a {
    color: #4FDEF2;
}

.axis {
    font: 10px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.axis .domain {
    fill: none;
    stroke: #000;
    stroke-opacity: .3;
    stroke-width: 10px;
    stroke-linecap: round;
}

.axis .halo {
    fill: none;
    stroke: #ddd;
    stroke-width: 8px;
    stroke-linecap: round;
}

.slider .handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: .5;
    stroke-width: 1.25px;
    cursor: crosshair;
    position: absolute;
}

.truck-legend {
    line-height: 18px;
    color: #555;
}

.truck-legend i {
    width: 38px;
    height: 38px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}


/****************************** Heat Map ******************************/

#heat-map {
    width: 90%;
    height: 1000px;
}












