

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 100;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
}

h1 .divider {
	margin: 0 8px;
}

h1 .sub-headline {
	color: #888;
	font-weight: 300;
}

#chloropleth {
	width: 900px;
	height: 700px;
}

#chloropleth-dropdown {
	width: 200px;
	margin-bottom: 10px;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

#chloropleth-tooltip-box {
	background-color: rgba(228, 200, 180, 0.51);
	width: 300px;
	height: 500px;
	overflow: auto;
	font-size: 13px;
	padding: 15px;
}

.chloropleth-tooltip-header {
	margin-top: 15px;
	text-decoration: underline;
	text-align: center;
	font-weight: 400;
}

/**
 * Main page css
 */
#page_title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Georgia";
  border-bottom: 1px solid black;
  width: 970px;
  padding-bottom: 20px;
}